@import "./variables";
@import "./libs/normalize";

:root {
  font-size: 62.5%;
  --primary-color: #014d4e;
  --secondary-color: #ff9408;
  --secondary-color-m: #ff94088e;
  --tertiary-color: #017374;
  --tertiary-color-m: #00000098;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.2;

  background-color: var(--secondary-color-m);
}

.container {
  max-width: 122rem;
  margin: 0 auto;
  padding: 0rem 1rem;
}

.container__header {
  max-width: 122rem;
  margin: 0 auto;
  padding: calc(1rem + 0.63333vw) 1rem;
  height: 100%;
}

.header {
  background-color: var(--secondary-color);
  z-index: 40;
}

.container__inner {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__links {
  display: flex;
  gap: 3vw;
}

.header__link {
  font-size: calc(1rem + 0.63333vw);
  cursor: pointer;
}

.header__link a:hover {
  color: #fff;
  transition: 0.2s ease-in-out;
}

.header__logo {
  font-size: calc(1rem + 0.63333vw);
  cursor: pointer;
}

.header__btn {
  display: none;
}

@media screen and (max-width: 610px) {
  /*-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-* Main Nav Header *-*-*-*-**-*-*-*-**-*-*-*-**-*/

  .header__logo {
    z-index: 50;
  }

  .header__links {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: 0.3s ease;
  }

  .header__btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 50;
  }

  .btn-line {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0.2rem;
    background-color: #fff;
    transition: 0.3s ease-in-out;
  }

  .hum-menu svg {
    height: 70%;
  }

  .menu-open .header__links {
    overflow-y: hidden;
    transform: translateY(0%);
    z-index: 40;
  }
}
